.container {
  margin-top: 10vh;
  /* height: 90vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10vh; */
  flex-direction: column;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  background: url("/large-triangles.png");
  background-position: center;
  background-size: contain;
  color: white;
  width: 100%;
  padding: 4rem;
  font-size: 2.5rem;
  position: relative;
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 2rem;
}

.faculty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  gap: 1rem;
}

.memberHeading {
  margin: 2rem;
  padding: 0.6rem 1rem;
  background-color: inherit;
  border: none;
  font-weight: 700;
  font-size: large;
}

@media (max-width: 550px){
  .memberHeading {
    margin: 0.5rem;
  }
}

.active {
  background-color: var(--primary-color);
  color: white;
}
