.container {
  margin-top: 10vh;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
  background: url("/bg.png");
  /* background: url("/bg2.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.ieee {
  font-size: 7rem;
  font-weight: 700;
}

.sb {
  font-size: 1.3rem;
  font-weight: 500;
}

.nitdgp {
  font-size: 1rem;
  font-weight: 500;
}

.headCon {
  overflow: hidden;
}

.introductionCardContainer {
  width: 100%;
  position: relative;
  /* padding: 50px 0px; */
  background-color: #eee;
  /* height: 25vh; */
  /* min-height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.introductionPositionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10vh;
  padding: 1rem;
  height: 100%;
  z-index: 12;
}

.emptyIntro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  opacity: 0;
}

@media (max-width: 1200px) {
  .introductionPositionContainer {
    align-items: unset;
  }
}

.introductionCard {
  min-height: 300px;
  flex: 0 0 calc(25% - 50px);
}
/*#f4f4f4*/

@media (max-width: 1200px) {
  .introductionCard {
    flex: 0 0 calc(50% - 50px);
  }
}
@media (max-width: 650px) {
  .introductionCard {
    flex: 0.8;
    /* min-width: 250px; */
  }
}
