.container {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* border: 1px solid black; */
  gap: 0.8rem;
  /* background-color: #eee; */
  /* background-color: rgb(202, 226, 255); */
  border-radius: 20px;
  transition: all 100ms ease-out;
}

.container:hover {
  transform: translate(10px, -10px);
  box-shadow: rgba(46, 146, 240, 0.4) -5px 5px,
    rgba(46, 143, 240, 0.3) -10px 10px, rgba(46, 127, 240, 0.2) -15px 15px,
    rgba(46, 124, 240, 0.1) -20px 20px, rgba(46, 130, 240, 0.05) -25px 25px;
}

.image {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.name {
  font-weight: bold;
  font-size: 1.1rem;
}

.post {
  font-size: 0.9rem;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.icon {
  font-size: 1.3rem;
  margin-top: 0.3rem;
}
